<div class="stats-container">
    <div class="stat-card">
        <div class="stat-value">{{ totalTasks }}</div>
        <div class="stat-label">Total Tasks</div>
    </div>
    <div class="stat-card">
        <div class="stat-value"> {{ completedTasks}}</div>
        <div class="stat-label"> Completted</div>
    </div>
    <div class="stat-card">
        <div class="stat-value">{{ remainingTasks}}</div>
        <div class="stat-label">Remaining</div>
    </div>
    <div class="stat-card">
        <div class="stat-value">{{ completionPercentage}}%</div>
        <div class="stat-label"> Progress</div>
    </div>
</div>